
body {
  background-color: lightskyblue;
}

h1 {
  color: blue;
  text-align: center;
}
<img src=" https://www.google.nl/imgres?imgurl=https%3A%2F%2Fwww.dvhn.nl%2Fimages%2F68gxd3-img-290419-228.onlineBild.jpg%2FALTERNATES%2FWIDE_768%2Fimg-290419-228.onlineBild.jpg&imgrefurl=https%3A%2F%2Fwww.dvhn.nl%2Fsport%2FPlay-offs-Europees-voetbal-starten-op-18-mei-24406839.html&docid=CZwVhFibJVlg2M&tbnid=KOW9md_uD55EDM%3A&vet=10ahUKEwjQgKLM_9nkAhVpwqYKHW4NB14QMwhbKAowCg..i&w=768&h=384&bih=965&biw=958&q=voetbal&ved=0ahUKEwjQgKLM_9nkAhVpwqYKHW4NB14QMwhbKAowCg&iact=mrc&uact=8" alt=meme>
p {
  font-family: verdana;
  font-size: 20px;
}